<div class="container">
    <h2>{{ isEditMode ? 'Edit Student' : 'Add Student' }}</h2>
  
    <form (ngSubmit)="onSubmit()" #studentForm="ngForm">
      <label>First Name:</label>
      <input type="text" [(ngModel)]="student.firstName" name="firstName" required>
      <br>
  
      <label>Last Name:</label>
      <input type="text" [(ngModel)]="student.lastName" name="lastName" required>
      <br>
  
      <label>Email:</label>
      <input type="email" [(ngModel)]="student.email" name="email" required>
      <br>
  
      <label>Department:</label>
      <input type="text" [(ngModel)]="student.department" name="department" required>
      <br><br>

      

  
      <button type="submit" >Submit</button>
    </form>
  </div>
  